<?xml version="1.0"?>

<configuration>
  <connectionStrings>
    <add name="MyConn" connectionString="Data Source=LENOVO;Initial Catalog=Perform-Project;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <system.web>
        <compilation debug="false" targetFramework="4.0" />
      <sessionState timeout="1200"></sessionState>
    </system.web>
  <appSettings>
    <add key="path" value="C:\Developing\PeformWebSite\excel\{0}"/>
    <add key="defaultConnection" value="MyConn"/>
  </appSettings>
</configuration>
